# first: make & activate virtual environment, `venv`
# virtualenv -p python3 venv

fontbakery
git+https://github.com/googlefonts/gftools.git
fontmake
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability